body {
    margin: 0 auto;
    font-family: "Ubuntu Mono", monospace;    
}

.superior {
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
}

#logoprincipal {
    width: 200px;
    height: 30px;
    padding-left: 0px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#carrito {
    margin-left: 700px;
    width: 30px;
    height: 30px;

}

#sesion {
    font-size: 1rem;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    margin-left: 3px;
}
nav ul{
    list-style: none;
}

nav ul li {
    float : left;
    background-color:#8A9EA0;
    margin-right: 5px;
    box-shadow: 2px 2px 2px grey;
}

nav ul li a {
    display : block;
    width : 140px;
    font-size : 14px;
    text-align : center;
    text-decoration : none;
    color : black;
}

.nav-item1 {
    display: none;
}

#fondocategorias {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color:#8A9EA0;
}

article.card {
    width: 300px;
    display: inline-block;
    margin: 15px auto;
    background-color: black;
    padding: 10px;
    text-align: center;
}

article.card img {
    width: 250px;
}

h2 { 
    margin: 0 auto;
    color: white;
}

footer {
    margin-top: 50px;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%
}

.bloque {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 100px;
}

.redes img {
    width: 34px;
    height: 34px;
}

.pago img {
    width: 64px;
    height: 20px;
}

h6 {
    margin-top: 10px;
}

@media only screen and (max-width:920px){
    #carrito {
        margin-left: 400px;
    }
}

@media only screen and (max-width: 720px){
    .nav-item1 {
        display: initial;
    }
    #carrito {
        display: none;
    }   
    #sesion {
        display: none;
    }
}

@media only screen and (max-width: 480px){
    #carrito {
        display: none;
    }
    #sesion {
        display: none;
    }
    .nav-item1 {
        display: initial;
    }
}